
.env_local

.idea

__pycache__

.pytest_cache

build/

*.pdf

.coverage

reports/

coverage-badge.svg

coverage.xml

TODO.md

numerical_tours_of_data_sciences
mathematical_tours_of_data_sciences
data_swak/extract_transform_load_etl_elt/logs/

*exclude*

*.docx

*.zip

virtualization_containerization/docker_microservices/proxmox
