.env_local

.idea
.pytest_cache
__pycache__

build/
reports/
.coverage
coverage-badge.svg
coverage.xml

*exclude*

*.pdf
*.png
*.docx
*.pptx
*.zip

numerical_tours_of_data_sciences
mathematical_tours_of_data_sciences
virtualization_containerization/docker_microservices/proxmox

TODO.md