python-dotenv
sphinx
livereload
myst-parser
recommonmark
nbsphinx
sphinx_rtd_theme
pandoc
requests
pytest
pytest-mock
unittest2
argparse
tk
coverage
psycopg2
fire # https://github.com/google/python-fire
fastapi
uvicorn
mlflow
chardet
scikit-learn
numpy